services:
  lrs-api:
    build: 
      context: ./api
    container_name: lrs-api # 強制指定容器名稱，方便 DNS 辨識
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge